
.wall {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  margin-bottom: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(163, 158, 158, 0.418);
  border-radius: 5px;
}

.addButton {
  height: 20px;
  width: auto;
}

.navBg {
  background-color: rgb(238, 170, 215);
}

.userImgForm>input {
  display: none;
}